@{
    var x = @Html.EasyUi();
            
}
<div id="upLoadDialog" class="easyui-dialog" data-options="resizable:true,closed:true" style="height:1px;">
    <form method="post" enctype="multipart/form-data" id="form_upload">
        @(x.TextBox().AddClass("easyui-filebox").AddAttribute("id", "fileupload").AddAttribute("name", "berkas").AddAttribute("buttonAlign", "left").AddAttribute("buttonText", "文件")
        )
    </form>

    @(x.LinkButton(EasyUiEvent.UploadOperation).Icon(EasyUiEvent.UploadIcon)
                   .Plain().Click(EasyUiEvent.UploadEvent, "SportRecord/Upload")
    )
    <div id="notification-area">
        123
    </div>
</div>