<?xml version="1.0" encoding="utf-8" ?>
<settings>

  <add key="user id" value="pts_local1" />
  <add key="password" value="123456@@" />
  <add key="Initial Catalog" value="Study" />
<!--
  <add key="user id" value="sa" />
  <add key="password" value="Ww666666" />
  -->
  <add key="datasource" value="." />
  <add key="useStatementNamespaces" value="false" />
</settings>

