<?xml version="1.0" encoding="utf-8"?>
<providers
xmlns="http://ibatis.apache.org/providers"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <clear/>
  <provider
      name="Oracle"
      description="Oracle, Oracle provider V4.121.2.0"
      enabled="true"
      assemblyName="Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"      
      connectionClass="Oracle.ManagedDataAccess.Client.OracleConnection"
      commandClass="Oracle.ManagedDataAccess.Client.OracleCommand"
      parameterClass="Oracle.ManagedDataAccess.Client.OracleParameter"
      parameterDbTypeClass="Oracle.ManagedDataAccess.Client.OracleDbType"
      parameterDbTypeProperty="OracleDbType"
      dataAdapterClass="Oracle.ManagedDataAccess.Client.OracleDataAdapter"
      commandBuilderClass="Oracle.ManagedDataAccess.Client.OracleCommandBuilder"
      usePositionalParameters="false"
      useParameterPrefixInSql="true"
      useParameterPrefixInParameter="true"
      parameterPrefix="?"
      allowMARS="false"
  />
</providers>

