@model SportKindQuery
@{
    var x = @Html.EasyUi();
}
<div id="divQuery" class="divQueryForm">
    <form id="formQuery" class="form">
        <dl>
            <dt>@(InfraUtils.GetDisplayName<SportKindQuery>(i => i.Name))</dt>
            <dd>
                @x.TextBox(t => t.Name)
            </dd>
        </dl>
        <span class="button">
            @x.LinkButton(EasyUiEvent.QueryOperation).Width(70).Icon(EasyUiEvent.QueryIcon).Click(EasyUiEvent.QueryEvent)
        </span>
    </form>
</div>