@{
    string path = ViewData["Path"].ToString();
    string[] content = path.Split(',');
<div id ="nodePath" class="sitepath">
    <span class="title">当前位置：</span>  
    @{
        for (int i = 0; i < content.Length; i++)
        {
            if (i != content.Length - 1)
            {
                <span><a href="#">@content[i]</a> ></span>
            }
            else
            {
                <span><a href="#">@content[i]</a></span>
            }
        }
    }
</div>
}