<div class="easyui-accordion" data-options="fit:true,border:false">
    <div title="Title1" data-options="iconCls:'icon-save'" style="overflow:auto;">
        <ul id="divMenuTree" class="easyui-tree" data-options="animate:true,url:'Home/GetTree'"></ul>
    </div>
    <div title="Title2" data-options="iconCls:'icon-reload'" style="padding:10px;">
        菜单此处需要再考虑 divMenuTree在index.js中使用Tree事件 不是很灵活
    </div>
    <div title="Title3">
        content3
    </div>
</div>