<div class="easyui-accordion" data-options="fit:true,border:false">
    <div title="应用菜单" data-options="iconCls:'icon-save'" style="overflow:auto;">
        <ul id="divMenuTree" class="easyui-tree" data-options="animate:true,lines:true"></ul>
    </div>
    <div title="系统菜单" data-options="iconCls:'icon-reload'" style="padding:10px;">
        菜单此处需要再考虑 divMenuTree在index.js中使用Tree事件 不是很灵活
    </div>
    <div title="我的收藏" data-options="iconCls:'icon-save'" style="padding:10px;">
        content3
    </div>
</div>