@{
    Layout = "~/Views/Shared/_Layout.cshtml";  
}

<div title="我的桌面" data-options="closable:true" style="overflow: hidden; background:#fff">
    <iframe scrolling="auto" frameborder="0" src="" style="width: 100%; height: 100%;"></iframe>
</div>
