<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--<add key="user id" value="study" />-->
  <add key="user id" value="sa" />
  <add key="password" value="Abcd1234" />
  <add key="Initial Catalog" value="Study" />
  <!--<add key="datasource" value="10.10.10.114" />-->
  <add key="datasource" value="." />
  <add key="useStatementNamespaces" value="false" />
</settings>

